@import "../../../styles//globals.scss";

#hero {
  height: calc(100vh - 56px);
  background-position: center;
  background-size: cover;
  background-image: url("/hero-web.jpg");
  .inner {
    background-color: rgba(209, 61, 46, 0.8);
    height: calc(100vh - 56px);
    overflow-x: hidden;
  }
  h1 {
    color: $white;
    font-size: 4em;
    font-weight: 700;
  }
  p {
    color: $white;
    font-size: 1.2em;
  }

  .heart {
    color: $red;
    margin-right: 5px;
  }
}
