@import '../../styles/globals';

footer {
  background: lighten($light-bg, 20%);
}

.social {
  a {
    margin-right: 1em;
    color: $black;
    &:hover {
      color: $text;
    }
  }
}

.footer-nav {
  a {
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: $black;
    &:hover {
      color: $text;
    }
  }
}
