// @media only screen and (max-width: 1440px) {
//   .qodef-image-with-rotate-text.qodef-text-position--bottom-right
//     .qodef-image-with-rotate-text-holder,
//   .qodef-image-with-rotate-text.qodef-text-position--top-right
//     .qodef-image-with-rotate-text-holder {
//     right: -118px;
//   }
// }

.about-lhs {
  background-image: url('/intro-bg.jpg');
  background-position: center;
  background-size: cover;
}
