@media only screen and (max-width: 1440px) {
  .qodef-image-with-rotate-text.qodef-text-position--bottom-right
    .qodef-image-with-rotate-text-holder,
  .qodef-image-with-rotate-text.qodef-text-position--top-right
    .qodef-image-with-rotate-text-holder {
    right: -118px;
  }
}

.about-lhs {
  background-image: url('/intro-bg.jpg');
  background-position: center;
  background-size: cover;
}
.qodef-image-with-rotate-text-holder {
  margin-bottom: 1em;
}
.qodef-image-with-rotate-text {
  font-size: 165px;
  font-weight: 700;
  font-family: Oswald, sans-serif;
  line-height: 1em;
  margin: 0;
  color: transparent;
  -webkit-text-stroke: 2px #c2c0bd;
  z-index: 10;
}

.qodef--show {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.3s,
    -webkit-transform 1s cubic-bezier(0.23, 0.51, 0.15, 0.9);
  -o-transition: transform 1s cubic-bezier(0.23, 0.51, 0.15, 0.9), opacity 0.3s;
  transition: transform 1s cubic-bezier(0.23, 0.51, 0.15, 0.9), opacity 0.3s;
  transition: transform 1s cubic-bezier(0.23, 0.51, 0.15, 0.9), opacity 0.3s,
    -webkit-transform 1s cubic-bezier(0.23, 0.51, 0.15, 0.9);
}
